
/* variables */
:root {
  --main-bg-color: #333333;
  --secondary-bg-color: #242424;
  --main-text-color: #ffffff;
  --main-text-font: sans-serif;
}

body {
  background: var(--main-bg-color);
  color: var(--main-text-color);
  line-height: 1.6;
}

/* remove underline */
.main-header > nav > ul > li a {
  text-decoration: none;
  color: var(--main-text-color);
  font-family: var(--main-text-font);
}

.main-header > nav > ul > li a:hover {
  text-decoration: underline;
}

/* remove bullet points and padding */
.main-header > nav > ul {
  list-style-type: none;
  padding-inline-start: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--main-bg-color);
  padding: 20px 50px;
  max-width: 800px;
}

.main-header > nav {
  display: grid;
  place-items: center;
}

@media screen and (max-width: 286px) {
  .main-header > nav > ul {
    grid-template-columns: 1fr;
    grid-template-rows: 30px 30px;
  }
}

.main-header > nav > ul > li {
  padding: 10px;
}

/* frontpage hero */

.hero-wrapper__inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.hero-wrapper__inner > img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero-wrapper__inner__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--main-text-color);
  font-family: var(--main-text-font);
  font-size: 25px;
  padding: 60px;
  text-align: center;
  z-index: 2;
}

/* about me */

.about-me-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 30px;
  align-items: center;
  padding: 20px 30px;
  background-color: var(--main-bg-color);
}

@media screen and (max-width: 700px) {
  .about-me-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.about-me-wrapper__image {
  display: grid;
  place-items: center;
}

.about-me-wrapper__text {
  padding: 20px;
  color: var(--main-text-color);
  font-family: var(--main-text-font);
  text-align: justify;
  max-width: 500px;
}

/* highlights */

.highlights-wrapper {
  text-align: center;
  font-family: var(--main-text-font);
  justify-content: center;
  align-items: center;
  padding: 30px 190px 100px;
}

.highlights-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

.highlights-block {
  overflow: hidden;
  height: 300px;
  position: relative;
}

.highlights-block__title {
  padding-top: 20px;
  color: var(--main-text-color);
  font-family: var(--main-text-font);
  font-size: 2rem;
  text-shadow: 1px -1px 10px rgba(0, 0, 0);
}

.highlights-block__text {
  opacity: 0;
  padding-top: 20px;
  transition: opacity 0.5s ease-in-out;
  text-decoration: none;
  color: var(--main-text-color);
  font-family: var(--main-text-font);
}

.highlights-block__link {
  text-decoration: none; /* Removes the underline */
  color: inherit; /* Optional: Inherits text color from the parent */
}

.highlights-block__photo {
  position: absolute;
  inset: 0;
  z-index: -2;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  object-fit: cover;
  height: 100%;
}

.highlights-block:hover .highlights-block__text {
  opacity: 1;
}

.highlights-block:hover .highlights-block__photo {
  opacity: 0.2;
}



/* KONTAKT SIDE */

.contact{
  background: var(--main-bg-color);
  line-height: 1.6;
  padding: 1em;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.contact__info > ul {
  list-style: none;
  padding: 0;
}

.contact__brand{
  text-align: center;
  color: var(--main-text-color);
  font-family: var(--main-text-font);
  
}

.contact__wrapper{
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
}

.contact__wrapper > *{
  padding: 1em;
}

.contact__info{
  background: #424242;
  color: var(--main-text-color);
  font-family: var(--main-text-font);
}

.contact__info h3, .contact__info ul{
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact__form{
  background: #676767;
  color: var(--main-text-color);
  font-family: var(--main-text-font);
}

.contact__form form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.contact__form label{
  display: block;
  }
  .contact__form p{
    margin: 0;
  }

.contact__form .fuld{
  grid-column: 1 / 3;
}

.contact__form button, .contact__form input, .contact__form textarea{
  width: 100%;
  padding: 1em;
  border: 1px solid #333333;
}

.button{
background: rgb(255, 255, 255);
border: 0;
text-transform: uppercase;
}

.contact__form button:hover, .contact__form button:focus{
  background: #424242;
  color: #ffffff;
  outline: 0;
  transition: background-color 0.2s ease-out;
}


/* KONTAKT SIDE STORE SKÆRME */

@media(min-width:700px){
  .contact__wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .contact__wrapper > *{
    padding: 2em;
  }

  .contact__info h3, .contact__info ul, .contact__brand{
    text-align: left;
  }
}